nav{
    display: flex;
    justify-content:space-around;
    margin:0;
    /* background-color: #13C9F2; */
    background-color: #00008b;
}

span{
    display: flex;
    justify-content:flex-end;
    gap: 15px;
}
.navActive{

    color:#2E038C ;
    /* background-color: #2A6BBF; */
    text-decoration: none;
    align-self: center;
    font-size: 1.5rem;
    line-height: 5rem;
    border-radius: 3px;
    padding:0 1%;
}
.links{
    color: #F0F0F2 ;
    text-decoration: none;
    align-self: center;
    font-size: 1.5rem;
    line-height: 5rem;
    padding:0 1%;
}
.links:hover{
    background-color: #5BCAE2;
    
    /* padding: ; */
}
